parameters:
  level: 8
  paths:
    - Tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    # Test methods with intentionally no return type
    -
      message: '#::test.+\(\) has no return typehint specified#'
      path: 'Tests'

    # Return type of 'array' of test data providers
    -
      message: '#DataProvider\(\) return type has no value type specified in iterable type array#'
      path: 'Tests'

    # Ignore everything to do with NullEntityManager
    -
      message: '#.*#'
      path: 'Tests/Mock/NullEntityManager.php'
